/*posicion y layout*/
/*modelo de caja*/
/*tipografia*/
/*visual*/
/*misc*/

.contacto-wh__div--container {
    /*posicion y layout*/
    width: 100%;
    background-position: center;
    background-size: 150%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    /*modelo de caja*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/images/Logo\ portafolio\ CV\ amplio.jpg');

    /*tipografia*/
    /*visual*/
    /*misc*/
}

.contacto-wh__div--seccion-wh {
    /*posicion y layout*/
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    /*modelo de caja*/
    /*tipografia*/
    /*visual*/
    /*misc*/
}

.contacto-wh__div--qr {
    /*posicion y layout*/
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /*modelo de caja*/
    /*tipografia*/
    /*visual*/
    /* background-color: blue; */

    /*misc*/
}


.contacto-wh__div--logowp {
    /*posicion y layout*/
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /*modelo de caja*/
    /*tipografia*/
    /*visual*/
    /* background-color: rgb(255, 0, 128); */

    /*misc*/
}

.contacto-wh__h3 {
    /*posicion y layout*/
    text-align: center;
    /*modelo de caja*/
    border-radius: 12px;
    padding: 0 15px 0 15px;
    /*tipografia*/
    font-family: 'Baloo 2', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    /*visual*/
    color: rgb(235, 235, 235);
    background-color: rgba(54, 54, 54, 0.877);

    /*misc*/
}

.contacto-wh__img {
    /*posicion y layout*/
    width: 200px;
    /*modelo de caja*/
    /*tipografia*/
    /*visual*/
    /*misc*/
}

.contacto-wh__img--imagen-whatsapp {
        /*posicion y layout*/
        padding: 50px;
        width: 100px;
        /*modelo de caja*/
        /*tipografia*/
        /*visual*/
        /*misc*/
}


@media screen and (min-width: 600px) {
    .contacto-wh__h3 {
                /*posicion y layout*/
        /*modelo de caja*/
        /*tipografia*/
        font-size: 18px;

        /*visual*/
        /*misc*/
    }
}

@media screen and (min-width: 767px) {
    .contacto-wh__h3 {
    /*posicion y layout*/
    /*modelo de caja*/
    /*tipografia*/
    font-size: 22px;

    /*visual*/
    /*misc*/
}
}

@media screen and (min-width: 970px) {
    .contacto-wh__h3 {
        /*posicion y layout*/
        /*modelo de caja*/
        /*tipografia*/
        font-size: 23px;
    
        /*visual*/
        /*misc*/
    }

    .contacto-wh__div--seccion-wh {
        /*posicion y layout*/
        width: 90%;
        flex-direction: row;
    
        /*modelo de caja*/
        /*tipografia*/
        /*visual*/
        /*misc*/
    }

    .contacto-wh__div--qr {
        /*posicion y layout*/
        width: 90%;
        height: 400px;

        /*modelo de caja*/
        /*tipografia*/
        /*visual*/
        /* background-color: blue; */
    
        /*misc*/
    }
    
    
    .contacto-wh__div--logowp {
        /*posicion y layout*/
        width: 90%;
        height: 400px;
    
        /*modelo de caja*/
        /*tipografia*/
        /*visual*/
        /* background-color: rgb(255, 0, 128); */
    
        /*misc*/
    }

    .contacto-wh__h3 {
                /*posicion y layout*/
                /*modelo de caja*/
                margin: 0 10px 0 10px;
                /*tipografia*/
                /*visual*/
                /*misc*/
    }

    .contacto-wh__h3--o-presiona {
                /*posicion y layout*/
                position: relative;
                /* top: -35px; */
                /*modelo de caja*/
                /*tipografia*/
                /*visual*/
                /*misc*/
    }

    .contacto-wh__img--imagen-whatsapp {
        /*posicion y layout*/
        padding-top: 0px;
        padding: 50px;
        width: 100px;
        /*modelo de caja*/
        /*tipografia*/
        /*visual*/
        /*misc*/
}
}

@media screen and (min-width: 1280px) {
    .contacto-wh__h3 {
        /*posicion y layout*/
        width: 70%;
        /*modelo de caja*/
        /*tipografia*/
        /*visual*/
        /*misc*/
    }
}