/*posicion y layout*/
/*modelo de caja*/
/*tipografia*/
/*visual*/
/*misc*/

.icono__div--container {
    /*posicion y layout*/
    width: 80px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*modelo de caja*/
    /*tipografia*/
    /*visual*/
    /*misc*/
}

.icono__div--borde-icono {
    /*posicion y layout*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /*modelo de caja*/
    border-radius: 6px;

    /*tipografia*/
    /*visual*/
    border: 1px solid #0FF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #323232;
    /*misc*/
}

.icono__img {
    /*posicion y layout*/
    width: 75%;
    padding-top: 6px;

    /*modelo de caja*/
    border-radius: 6px;
    /*tipografia*/
    /*visual*/
    /*misc*/
}

.icono__h3 {
    /*posicion y layout*/

    /*modelo de caja*/
    /*tipografia*/
    font-family: 'Bakbak One';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #D7D7D7;
    /*visual*/
    /*misc*/
}

@media screen and (min-width: 767px) {
    .icono__div--container {
        /*posicion y layout*/
        width: 85px;
        height: 95px;

        /*modelo de caja*/
        /*tipografia*/
        /*visual*/
        /*misc*/
    }

    .icono__h3 {
        /*posicion y layout*/
    
        /*modelo de caja*/
        /*tipografia*/
        font-size: 15px;


        /*visual*/
        /*misc*/
    }
}

@media screen and (min-width: 970px) {
    .icono__div--container {
        /*posicion y layout*/
        width: 90px;
        height: 100px;

        /*modelo de caja*/
        /*tipografia*/
        /*visual*/
        /*misc*/
    }

    .icono__h3 {
        /*posicion y layout*/
    
        /*modelo de caja*/
        /*tipografia*/
        font-size: 17px;


        /*visual*/
        /*misc*/
    }
}